* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2d30c5;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: 700px;
    width: 1200px;
    min-width: 1200px;
    background: transparent;
    padding: 2.5rem;
    position: relative;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-areas: "shoe info";
    position: relative;
}

.shoe {
    grid-area: shoe;
    height: 115%;
    width: 100%;
    background-color: #f579da;
    box-shadow: 2px 0px 22px 0px rgba(0,0,0,0.56);
    position: absolute;
    border-radius: 7px;
    top: -40px;
    right: -10px;
    z-index: 10;
}

.shoe::before {
    content: "39";
    position: absolute;
    top: 24px;
    height: 100%;
    width: 100%;
    font-size: 20rem;
    font-weight: 500;
    text-align: center;
    color: #f0b5e3;
    z-index: -10;
}

.shoe-img {
    height: 10%;
    width: 100%;
    padding: 1rem;
}

.logo {
    width: 11%;
}

.shoe-preview {
    height: 70%;
    width: 100%;
}

.shoe-preview {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: relative;
    /* transform: rotate(2deg); */
}

.shoe-preview img {
    width: 109%;
    position: absolute;
    left: -25%;
    bottom: -14%;
}

.shoe-preview__info {
    height: 30px;
    width: 30px;
    background-color: #2d30c5;
    border-radius: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
}

.shoe-preview__info.first {
    left: 21px;
    top: 35%;
}
.shoe-preview__info.second {
    left: 24%;
    top: 67%;
}
.shoe-preview__info.third {
    left: 59%;
    top: 76%;
}

.shoe-preview__info > span {
    color: white;
    font-weight: 600;
}

.shoe-preview__info:hover {
    cursor: pointer;
    background-color: #4548c4;
}

.shoe-legend {
    height: 18%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.shoe-legend > div {
    height: 25px;
    width: 25px;
    background-color: #f0b5e3;
    border-radius: 100%;
    margin: 0 1rem;
    margin-bottom: 2rem;
}

.shoe-legend > div.selected,
.shoe-legend > div:hover {
    background-color: #eed7e9;
    cursor: pointer;
}

/* 

.shoe-preview__info::before {
    content: "+";
    height: 30px;
    width: 30px;
    background-color: #2d30c5;
    border-radius: 100%;
    position: absolute;
    left: 288%;
    top: 503%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.shoe-preview__info::after {
    content: "+";
    height: 30px;
    width: 30px;
    background-color: #2d30c5;
    border-radius: 100%;
    position: absolute;
    left: 876%;
    top: 661%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}
 */









.info {
    grid-area: info;
    background-color: white;
    border-radius: 0 10px 10px 0;
}