* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    max-height: 710px;
    width: 100%;
    background: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    position: relative;
}

.blue {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    height: 300px;
    border-right: 440px solid #84b4eb;
    border-bottom: 210px solid transparent;
    z-index: 10;
}

.container {
    width: 100%;
    height: 100%;
    z-index: 50;
    background: transparent;
    position: absolute;
}

.container-title h2 {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    padding-top: 1.5rem;
}

.container-card {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-card img {
    width: 80%;
}

/* STYLE CONTROLS */
.controls__items {
    list-style: none;
    padding: 0;
    margin: 2rem 1rem 0 1rem;
}

.controls__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0;
}

.first {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.item-text {
    padding-left: 1rem;
}

.item-text p {
    margin: 0;
    font-weight: 700;
    font-size: 1rem;
}

.item-text span {
    color: rgba(0, 0, 0, 0.4);
    font-size: 0.8rem;
    font-weight: 600;
}

/* STYLES CHECKBOX */
.checkbox-switch {
    position: relative;
    display: inline-block;
    width: 4rem;
    height: 2.1rem;
}

.checkbox-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    transition: 400ms;
}

.checkbox-slider:focus,
.checkbox-switch:focus {
    outline: none;
}

.checkbox-slider::before {
    position: absolute;
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 400ms;
}

input:checked + .checkbox-slider {
    background-color: #84b4eb;
}

input:focus + .checkbox-slider {
    box-shadow: 0 0 1px #84b4eb;
}

input:checked + .checkbox-slider::before {
    -webkit-transform: translateX(26px);
    transform: translateX(1.6rem);
}

.checkbox-slider.round {
    border-radius: 34px;
}

.checkbox-slider.round::before {
    border-radius: 34px;
}

@media (min-width: 420px) {
    .blue {
        display: none;
    }
    .container-title h2 {
        color: black;
    }
}