* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #3b3b46;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  height: 600px;
  width: 800px;
  max-width: 800px;
  background: white;
  padding: 2rem 0;
  border-radius: 3px;
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "menu1 content1";
}

.menu {
  grid-area: menu1;
}

.menu-top {
  height: 70%;
  width: 100%;
  border-right: 1px;
  border-right-style: solid;
  border-right-color: rgba(0, 0, 0, 0.2);
}

.menu-top__items {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-top__item > svg {
  color: rgba(0, 0, 0, 0.2);
  height: 2.2rem;
  width: 2.2rem;
}

.menu-top__item {
  width: 100%;
  margin: 0.8rem 0;
  display: flex;
  justify-content: center;
}

.menu-top__item.first {
  margin-top: 0;
  margin-bottom: 3rem;
}

.menu-top__item.first > svg,
.menu-top__item.selected > svg {
  color: #3880c0;
}

.menu-top__item.first:hover {
  border: none;
}
.menu-top__item.first > svg:hover {
  cursor: default;
}

.menu-top__item:hover,
.menu-top__item.selected {
  border-right: 2px;
  border-right-style: solid;
  border-right-color: #3880c0;
}
.menu-top__item > svg:hover {
  cursor: pointer;
  color: #3880c0;
}

.menu-bottom {
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu-bottom img {
  width: 50%;
  border-radius: 100%;
  margin-bottom: 1rem;
  border: 2px solid #3880c0;
}

.content {
  grid-area: content1;
  padding: 0 2.5rem;
  margin: 0;
}

.content-total__imgs {
  margin-top: 0;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
  font-size: 1.3rem;
}

.content-title {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-title__text {
  margin: 0;
  font-size: 3.7rem;
  color: rgba(0, 0, 0, 0.8);
}

.content-title__link {
  text-decoration: none;
  color: #3880c0;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  border: 1px solid #3880c0;
}

.content-title__link:hover {
  cursor: pointer;
  background-color: rgba(190, 216, 240, 0.466);
}

.content-images {
  height: 70%;
  width: 100%;
}

.content-images__top,
.content-images__bottom {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-img1 {
  height: 95%;
  width: 32%;
  margin: 1rem 0.3rem 1rem 0;
  background-image: url('./img/1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.top-img2 {
  height: 95%;
  width: 65%;
  margin: 1rem 0 1rem 0.3rem;
  background-image: url('./img/2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bottom-img1,
.bottom-img2,
.bottom-img3 {
  height: 95%;
  width: 32%;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bottom-img1 {
  margin-right: 0.3rem;
  background-image: url('./img/3.jpg');
}
.bottom-img2 {
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  background-image: url('./img/4.jpg');
}
.bottom-img3 {
  margin-left: 0.3rem;
  background-image: url('./img/5.jpg');
}

.img-svg {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: -1;
}

.img-svg svg {
  height: 1.8rem;
  color: rgb(216, 216, 247);
}

.img-svg svg:hover {
  cursor: pointer;
  color: #ffffff;
}

.top-img1:hover,
.top-img1:hover > .top-img1.img-svg {
  background: linear-gradient(to top, rgba(14, 48, 143, 0.3), 100%, transparent), url('./img/1.jpg'), #ff1b68;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
.top-img2:hover,
.top-img2:hover > .top-img2.img-svg {
  background: linear-gradient(to top, rgba(14, 48, 143, 0.3), 100%, transparent), url('./img/2.jpg'), #ff1b68;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
.bottom-img1:hover,
.bottom-img1:hover > .bottom-img1.img-svg {
  background: linear-gradient(to top, rgba(14, 48, 143, 0.3), 100%, transparent), url('./img/3.jpg'), #ff1b68;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
.bottom-img2:hover,
.bottom-img2:hover > .bottom-img2.img-svg {
  background: linear-gradient(to top, rgba(14, 48, 143, 0.3), 100%, transparent), url('./img/4.jpg'), #ff1b68;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}
.bottom-img3:hover,
.bottom-img3:hover > .bottom-img3.img-svg {
  background: linear-gradient(to top, rgba(14, 48, 143, 0.3), 100%, transparent), url('./img/5.jpg'), #ff1b68;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
}



















/* MEDIA QUERIES */
@media (max-width: 600px) {
  .container {
    height: 100vh;
    width: 100vw;
    background: white;
    padding: 2rem 0;
    border-radius: 0;
    display: grid;
    grid-template-rows: 4rem auto;
    grid-template-areas: "menu1 menu1"
                         "content1 content1";
  }
  .menu {
    grid-area: menu1;
    width: 100%;
  }
  .content {
    grid-area: content1;
    width: 100%;
    height: 150px;
    background-color: royalblue;
  }
}