* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #8bb3e0;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* temporary property */
    padding: 5rem 0 0 0;
}

.container {
    height: auto;
    width: 350px;
    max-width: 350px;
    background: white;
    margin: auto;
    padding: 0.1rem 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3rem repeat(6, 2.5rem) 3rem;
    grid-template-areas: "title1 title1 . . . title2 title2"
                         "contents contents contents contents contents contents contents"
                         "content1 content1 content1 content1 content1 content1 content1"
                         "content2 content2 content2 content2 content2 content2 content2"
                         "content3 content3 content3 content3 content3 content3 content3"
                         "content4 content4 content4 content4 content4 content4 content4"
                         "content5 content5 content5 content5 content5 content5 content5"
                         "hour hour plus plus plus temp temp";
}

.title1 {
    grid-area: title1;
}

.title2 {
    grid-area: title2;
}

.title1,
.title2 {
    color: #8d8c8c;
    font-size: 0.9rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.contents {
    grid-area: contents;
}
.contents ul li {
    width: 100%;
    font-size: 0.8rem;
    font-weight: 500;
    color: #8d8c8c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content1 {
    grid-area: content1;
}
.content2 {
    grid-area: content2;
}
.content3 {
    grid-area: content3;
}
.content4 {
    grid-area: content4;
}
.content5 {
    grid-area: content5;
}

.contents,
.days{
    display: flex;
    align-items: center;
}

.contents ul,
.days ul{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
}

.days ul li {
    height: 67%;
    width: 9%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 500;
}

.mon__ago {
    color: #aca8a8;
}

.days ul li:hover {
    cursor: pointer;
    border-radius: 50%;
    background: #d1d0ce;
    color: white;
}

.days .mon__ago:hover {
    cursor: not-allowed;
    background: white;
    color: #aca8a8;
}

/* EVENTS */
.mark_event {
    border-radius: 50%;
    background: #e96c3e;
    color: white;
}

.reminder {
    border: 1px solid #e96c3e;
    border-radius: 50%;
    position: relative;
}

.purple {
    border: 1px solid #e07ee0;
}

.reminder span {
    height: 12px;
    width: 12px;
    position: absolute;
    top: -4px;
    right: -5px;
    font-size: 0.6rem;
    border-radius: 50%;
    background: #e96c3e;
    color: white;
    text-align: center;
}

.reminder.purple span {
    background: #e07ee0;
}

/* FOOTER CALENDAR */
.hour {
    grid-area: hour;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 0.6rem;
    font-weight: 500;
}

.plus {
    grid-area: plus;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

.plus span {
    border: 1px solid #e96c3e;
    border-radius: 50%;
    padding: 5px 8px;
    text-align: center;
}

.plus span:hover {
    cursor: pointer;
    border: 1px solid transparent;
    background: #e96c3e;
    color: white;
}

.temperature {
    grid-area: temp;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 0.6rem;
    font-weight: 500;
}