* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    background: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
}

.container {
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin: 0;
    display: block;
    background-color: #ddd;
    position: absolute;
    top: 0;
}

.container-info,
.container-payment {
    width: 100%;
    margin-bottom: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 3px;
    box-shadow: 0px 2px 8px 1px rgba(0,0,0,0.5);
}

.info-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.info-title__name  {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.info-title__name > div {
    width: 16%;
    padding: 0.5rem;
    margin-right: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
}

.title-name__items {
    font-size: 0.5rem;
    padding: 0.2rem 0.3rem;
    background-color: royalblue;
    color: white;
    font-weight: 600;
    border-radius: 100%;
    position: absolute;
    top: -7px;
    right: -10px;
}

.info-title__name > div img {
    width: 100%;
}

.info-title p,
.info-content ul li p,
.info-total ul li p {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.9);
    font-size: 0.7rem;
    font-weight: 600;
}

.info-content {
    padding: 0.6rem 0;
    border-bottom: 1px solid #ccc;
}

.info-content ul,
.info-total ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.info-content ul li,
.info-total ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.4rem;
}
