/* VOU USAR VARIAVEIS PARA ESTA FOLHA DE ESTILO */

.content {
    grid-area: center1;
    height: 300px;
    background-color: #eee;
    --title-container-color: rgba(0, 0, 0, 0.8);
    --title-item1-color: rgba(0, 0, 0, 0.7);
    --title-item2-color: rgba(0, 0, 0, 0.6);
    --subtitle-item-color: rgba(0, 0, 0, 0.45);
    --text-geral-color: rgba(0, 0, 0, 0.6);
    --link-geral-color: #72bbf7;
}

/* primeiro container content */
.content-posts {
    width: 100%;
    padding: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
}

.content-posts__title {
    height: 4rem;
    width: 100%;
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.content-posts__title h2 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--title-container-color);
}

.content-posts__title-arrows {
    display: flex;
    justify-content: center;
}

.content-posts__title-arrows div {
    height: 1.9rem;
    width: 1.9rem;
    margin-left: 2px;
    text-align-last: center;
    border: 1px solid #022847;
    border-radius: 100%;
}

.content-posts__title-arrows div svg {
    height: 100%;
    color: #022847;
}

.content-posts__title-arrows div:hover {
    background-color: rgb(221, 216, 216, 0.7);
}

.content-posts__title-arrows div svg:hover {
    cursor: pointer;
}

.content-posts__border {
    height: 1px;
    width: 100%;
    background: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 70px;
}

.content-posts__list {
    width: 100%;
    margin-top: 0.5rem;
}

.content-posts__items {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-posts__item {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.content-posts__item div:hover {
    cursor: pointer;
    text-decoration: underline;
}

.content-posts__item span:hover {
    cursor: pointer;
}

.content-posts__item img {
    width: 100%;
}

.content-posts__item h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--title-item1-color);
}

.content-posts__item span {
    margin: 0;
    font-size: 0.8rem;
    color: var(--subtitle-item-color);
}

/* fim do primeiro container content */

/* inicio do segundo container BACKGROUND */
.content-background {
    width: 100%;
    padding: 1.1rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
}

.content-background__title {
    height: 4.5rem;
    width: 100%;
}

.content-background__title h2 {
    margin: 0;
    font-size: 1.3rem;
    color: var(--title-container-color);
    text-align: left;
}

.content-background__list {
    width: 100%;
}

.content-background__items {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.content-background__item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.list-item__icons {
    margin-right: 0.8rem;
}

.list-item__content.education,
.list-item__content.skills,
.list-item__content.interest {
    width: 100%;
}

.list-item__content-title h3 {
    margin: 0;
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--title-item2-color);
}

.list-item__content-text p {
    color: var(--text-geral-color);
}

.list-item__content-experience_edu {
    display: flex;
    flex-direction: column;
}

.experience-edu__item {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.experience-edu_line.first::before {
    height: 5px;
    width: 5px;
    content: " ";
    background-color: white;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 19px;
    left: -1px;
}

.experience-edu_line.first::after {
    height: 5px;
    width: 5px;
    content: " ";
    background-color: white;
    border-radius: 100%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: -30px;
    left: -1px;
}

.experience-edu_line.first {
    height: 97%;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 2px;
}

.experience-edu_line {
    margin-right: 1rem;
}

.experience-edu_text {
    height: 100%;
    width: 75%;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.experience-edu_text h3,
.experience-edu_text p {
    margin: 0;
}

.experience-edu_text span {
    font-size: 0.8rem;
    color: var(--subtitle-item-color);
}

.experience-edu_text h3 {
    margin: 0.4rem 0;
    font-size: 1.1rem;
    color: var(--title-item2-color);
    font-weight: 500;
}

.experience-edu_text p {
    font-size: 1rem;
    color: var(--link-geral-color);
    font-weight: 300;
}

.experience-edu_img {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

.experience-edu_img img {
    width: 26%;
}

.list-item__content-skills {
    margin-top: 1rem;
}

.skills__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    
}

.skills-item__number-text {
    width: 60%;
}

.skills-item__img {
    width: 40%;
}

.skills-item__number-text {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.skills-item__number-text > div {
    height: 2.5rem;
    width: 2.5rem;
    border: 1px solid var(--title-container-color);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.skills-item__number-text > div span {
    color: var(--text-geral-color);
}

.skills-item__number-text p {
    margin: 0;
    color: var(--text-geral-color);
}

.skills-item__img > ul {
    list-style: none;
    padding: 0;
    margin: 0 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-item__img > ul li {
    display: flex;
    justify-content: center;
}

.skills-item__img > ul li img {
    margin: 0 1rem;
    border-radius: 100%;
    width: 70%;
}

.skills-item__img > ul li div {
    height: 3rem;
    width: 3rem;
    background-color: #eee;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-item__img > ul li div span {
    font-size: 0.9rem;
    color: var(--subtitle-item-color);
}

.list-item__content-interest {
    margin-top: 1rem;
}

.interest__items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.interest__item {
    margin-right: 0.8rem;
    padding: 0.3rem;
    background-color: #eee;
}

.interest__item > span {
    color: var(--text-geral-color);
    font-size: 0.9rem;
}
/* fim do segundo container BACKGROUND */


/* inicio do primeiro container RECOMENDATIONS */
.content-recomendations {
    width: 100%;
    padding: 1.1rem;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    position: relative;
}





/* fom do terceiro container RECOMENDATIONS */