* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background: #eeeeee;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    height: auto;
    width: 100%;
    background: #eee;
    margin: auto;
    display: grid;
    grid-template-columns: 6fr 7fr 24fr 7fr 6fr;
    grid-template-rows: 7.5rem auto;
    grid-template-areas: "header header header header header"
                         ". left1 center1 right1 .";
    grid-gap: 1.3rem;
}

.header {
    grid-area: header;
    background-color: white;
    display: grid;
    grid-template-columns: 8fr 3fr 9fr 27fr 7fr 10fr;
    grid-template-rows: 5rem 2.5rem;
    grid-template-areas: "clear1 logo search menus icons1 avatar"
                         ". submenu submenu submenu . .";
}




.content {
    grid-area: center1;
    height: 300px;
    background-color: seagreen;
}

.right {
    grid-area: right1;
    background-color: white;
}