.first-container {
    display: flex;
    flex-direction: column;
    height: 28rem;
    position: relative;
}

.first-container__img {
    position: absolute;
    right: -29rem;
    height: 100%;
}

.first-container__line {
    position: absolute;
    width: 200%;
    left: -20rem;
    bottom: 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.first-container h2 {
    padding-top: 3rem;
    font-weight: 500;
}

.first-container__text {
    margin: 2rem 0;
    border-left: 1.5px solid rgba(0, 0, 0, 0.5);
    width: 35%;
}

.first-container__text p {
    padding-left: 0.9rem;
    text-align: left;
    color: rgba(0, 0, 0, 0.5);;
}

.first-container a {
    width: 15%;
    text-decoration: none;
    color: white;
    border: none;
    padding: 0.8rem;
    background: #e64f4f;
    text-align: center;
    font-weight: 600;
    font-size: 0.8rem;
}

.second-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 27rem;
}

.second-container div {
    width: 18rem
}

.second-container div h3 {
    margin-bottom: 1.5rem;
    font-weight: 500;
}

.second-container div p {
    line-height: 1.5;
    font-weight: 300;
}

.second-container div h3,
.second-container div p {
    text-align: left;
}

.second-container span {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.second-container span div {
    height: 5px;
    width: 5px;
    background-color: #080808;
    margin: 1rem 1rem 0 1rem;
}

.second-container span > div {
    margin-left: 0;
}

.second-container__span {
    padding-top: 1rem;
}

.second-container__span-hifen {
    width: 2rem;
    height: 3px;
    background: #e64f4f;
    margin-right: 0.8rem;
}

.second-container__span-text {
    color: #e64f4f;
    font-weight: 600;
}

.third-container {
    display: flex;
    flex-direction: column;
    height: 42rem;
    position: relative;
    margin-bottom: 4rem;
}

.third-container__img {
    position: absolute;
    right: 0;
    height: 100%;
}

@media (max-width: 1530px) {
    .first-container__img {
        right: -23rem;
    }
}

@media (max-width: 1250px) {
    .first-container__img {
        right: -14rem;
    }
}

@media (max-width: 380px) {
    .first-container {
        align-items: center;
        height: 39rem;
    }

    .first-container__img {
        position: static;
        height: 40%;
    }

    .first-container div {
        padding: 2rem 0rem;
        margin: 0;
        width: 90%;
        border: none;
    }

    .first-container__text p {
        padding: 0;
    }

    .first-container a {
        width: 70%;
    }
}