* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: #f19595;
}

.container {
    height: 800px;
    max-width: 1000px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10rem minmax(30px, 8rem) auto;
    grid-template-areas: ". title title"
                         ". subtitle subtitle"
                         "content content content";
}


